<p id="notice"><%= notice %></p>

<h1>Game Items</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Item</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_items.each do |game_item| %>
      <tr>
        <td><%= game_item.game_id %></td>
        <td><%= game_item.item_id %></td>
        <td><%= game_item.active %></td>
        <td><%= link_to 'Show', game_item %></td>
        <td><%= link_to 'Edit', edit_game_item_path(game_item) %></td>
        <td><%= link_to 'Destroy', game_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Item', new_game_item_path %>
