<%= form_with(model: game_stadistic, local: true) do |form| %>
  <% if game_stadistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_stadistic.errors.count, "error") %> prohibited this game_stadistic from being saved:</h2>

      <ul>
        <% game_stadistic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id %>
  </div>

  <div class="field">
    <%= form.label :completed_squares %>
    <%= form.text_field :completed_squares %>
  </div>

  <div class="field">
    <%= form.label :amount_lines %>
    <%= form.text_field :amount_lines %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :streak %>
    <%= form.text_field :streak %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
