<p id="notice"><%= notice %></p>

<h1>Game Stadistics</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Completed squares</th>
      <th>Amount lines</th>
      <th>Color</th>
      <th>Streak</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_stadistics.each do |game_stadistic| %>
      <tr>
        <td><%= game_stadistic.game_id %></td>
        <td><%= game_stadistic.player_id %></td>
        <td><%= game_stadistic.completed_squares %></td>
        <td><%= game_stadistic.amount_lines %></td>
        <td><%= game_stadistic.color %></td>
        <td><%= game_stadistic.streak %></td>
        <td><%= link_to 'Show', game_stadistic %></td>
        <td><%= link_to 'Edit', edit_game_stadistic_path(game_stadistic) %></td>
        <td><%= link_to 'Destroy', game_stadistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Stadistic', new_game_stadistic_path %>
